.forecast-display, .search-bar{
    background-color: #F1F1F1;
}

/*Search Bar*/
.search-bar{
    text-align: center;
    padding: 1em;
}
input, .search-button{
    font-size: 1.2em;
}

/*Weather Display*/
.weather-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    position: relative; 
    text-align: center;
    border-radius: 10px;
    overflow-x: hidden;
  }
    .weather-display video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.9;
  }
.current-main{
    display: flex;
    margin-left: 1em;
    height: 75%;
    width: -webkit-fill-available;
}
.current-icon{
    width:15%;
    height: 20%;
    margin: .2em 0 0 1.5em;
}
.time{
    font-size: 1em;
}
.current-details{
    margin: 2em 1em 0 0;
}

/*Forecast Display*/
.forecast-details {
    display: flex;
    flex-wrap: nowrap; 
    text-align: center;
    justify-content: space-evenly; 
    overflow-x: auto; 
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.forecast-icon {
    width: 25%;
    height: 15%;
}

@media only screen and (max-width: 580px) {
    .forecast-details {
        display: flex;
        overflow-x: auto; 
        scroll-snap-type: x mandatory; 
    }
    .forecast-item {
        flex: 0 0 auto; 
        width: 33%; 
        scroll-snap-align: start; 
        box-sizing: border-box; 
    }
}

@media only screen and (max-width: 320px) {
    .search-button{
        display: none;
    }
}


[class*='night'] {
    color: #fff; 
  }
